footer {
    padding: 20px;
    text-align: center;
    background-image: url("static/noise-bg.png");
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(192, 192, 192);
    background-repeat: repeat;
}
