html {
    background-color: white;
}

body {
    color: rgb(51, 51, 51);
    font-family: "Cantarell", sans-serif;
    font-size: 16px;
    margin: 0px;
}

#site-menu {
    box-shadow: rgb(136, 136, 136) 0px 0px 5px 0px;
    color: rgb(51, 51, 51);
    height: 360px;
}

#logo {
    background-image: url("static/logo3.svg");
    background-size: 100%;
    display: inline-block;
    height: 120px;
    width: 240px;
}

.page-link {
    background-image: url(static/link-arrow.png);
    background-position: 97% 50%;
    background-repeat: no-repeat;
    color: rgb(85, 85, 85);
    display: block;
    font-size: 20.8px;
    line-height: 80px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 18px;
    padding-right: 18px;
    text-decoration-line: none;
    text-align: left;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(192, 192, 192);
}

@media screen and (min-width: 850px) {
    #site-menu {
	height: 120px;
    }

    #pages-box {
	margin-right: 10px;
	float: right;
    }

    .page-link:hover {
	background-image: url("static/page-link-triangle.png");
	background-position: bottom;
	background-repeat: no-repeat;
    }

    .page-link {
	background-image: none;
	display: inline-block;
	line-height: 120px;
    }
}
