h1 {
    text-align: center;
}

.slide {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.gears-bg {
    min-height: 500px;
    background-image: url("static/gears-down.png"), url("static/gears-up.png"), url("static/noise-bg.png");
    background-position: top, bottom, top;
    background-repeat: repeat-x, repeat-x, repeat;
    padding: 150px 20px;
}

.code-examples {
    text-align: center;
    vertical-align: top;
    max-width: 500px;
    display: inline-block;
    margin: 20px;
    overflow: hidden;
}

.code-box {
    text-align: left;
}

.repartition-travail {
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

#developpement1 {
    text-align: center;
}

