h1 {
    text-align: center;
}

pre {
    background-color: rgb(45, 55, 67);
    color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    box-shadow: rgb(128, 128, 128) 0px 0px 5px 0px;
    font-size: 14px;
    min-height: 300px;
    padding: 10px;
    text-align: left;
}

.slide {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    text-align: left;
}

.slide > section {
    text-align: center;
}

.gears-bg {
    min-height: 500px;
    background-image: url("static/gears-down.png"), url("static/gears-up.png"), url("static/noise-bg.png");
    background-position: top, bottom, top;
    background-repeat: repeat-x, repeat-x, repeat;
    padding: 150px 20px;
    text-align: center;
}

.code-examples {
    text-align: center;
    vertical-align: top;
    max-width: 500px;
    display: inline-block;
    margin: 20px;
    overflow: hidden;
}

.code-box {
    text-align: left;
}

.exemples {
    text-align: center;
}
