main
{
    padding-left: 5px;
}

h1, h2
{
    text-align: center;
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centered
{
    text-align: center;
}

pre {
    background-color: rgb(45, 55, 67);
    color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    font-family: monospace;
    box-shadow: rgb(128, 128, 128) 0px 0px 5px 0px;
    font-size: 1em;
    padding: 10px;
    text-align: left;
}

.code-examples {
    text-align: center;
    vertical-align: top;
    max-width: 1000px;
    display: inline-block;
    margin: 20px;
    overflow: hidden;
}

.code-box {
    text-align: left;
}

.gears-bg
{
    min-height: 500px;
    background-image: url("static/gears-down.png"), url("static/gears-up.png"), url("static/noise-bg.png");
    background-position: top, bottom, top;
    background-repeat: repeat-x, repeat-x, repeat;
    padding: 150px 20px;
    text-align: center;
}
