/* General */
body {
	margin: 0;
	padding: 0;
	color:#39459b;
	font: normal 90% "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Arial,Helvetica,Sans-Serif;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	overflow: hidden;
	background: #000;
}

h2 {
	margin-top:0;
	font-size: 2em;
	font-weight:bold;
	color: #eca603;
}

a {
	font-weight:bold;
	color:#fff;
}


/* Wrapper */
#wrap {
	position: relative;
	top:0;
	-webkit-transition: top 1.4s cubic-bezier(.49,.22,.52,1);
	-moz-transition: top 1.4s cubic-bezier(.49,.22,.52,1.35);
	transition: top 1.4s cubic-bezier(.49,.22,.52,1.35);
}


/* Nav */
#nav {
	background-color: rgba(0, 0, 0, .5);
	position: fixed;
	top: 0; left:0;
	padding: 1em 0;
	margin:0;
	text-align:left;
	font-size: 1em;
	z-index:10;
}
#nav li {
	display: inline;
	margin:15;
}
#nav li a {
	display: inline-block;
	margin: 0 3em;
	color: #eee;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 0 0 5px #fff;
	
	padding: 8px 0 8px 16px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}
#nav li a:hover{
	background-color: #4CAF50;
    	color: white;
}


/* slides */
#slide1, #slide2, #slide3,#slide4 {
        position:relative;
	height: 1080px;
	-webkit-transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1);
	-moz-transition: background-position 1.4s cubic-bezier(.49,.22,.52,1.35);
	transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1.35);
}

#slide1 { background: url(ciel.png) center 0 no-repeat fixed; }
#slide2 { background: url(terre.png) center 0 no-repeat fixed; }
#slide3 { background: url(ciel.png) center 0 no-repeat fixed; }
#slide4 { background: url(terre.png) center 0 no-repeat fixed; }


/* Slides contents */
.slide_inside {
        position:relative;
	top:10%;
       	width:60%;
	margin: 0 auto;
	padding: 50px;
}


#slide1 .slide_inside {	
	text-align: center;
	background-color: rgba(103, 165, 231, .3);
}
#slide2 .slide_inside {
	background-color: rgba(11, 67, 126, .3);
}
#slide3 .slide_inside {
	background-color: transparent;
}
#slide4 .slide_inside {
	background-color: rgba(11, 67, 126, .3);
}
 
#arbre {
        position: relative;
} 

#caillou, #arbre2{
        position:absolute;
        left : 600px;
        top : 50px;
        -webkit-transition: all 1.4s  cubic-bezier(.34,1.42,.83,.67);
	-moz-transition: all 1.4s cubic-bezier(.34,1.42,.83,.67);
	transition: all 1.4s  cubic-bezier(.34,1.42,.83,.67);
}

#arbre2{
        left : 700px;
        top : 250px;
}

/* targeted elements */
#wrap #nav li a { display : block; width = 60px;}

#s1:target ~ #wrap { top:0px; }
#s1:target ~ #wrap #caillou {left: -260px ;top:0px;}
#s1:target ~ #wrap #arbre2 {left: -260px ;top:0px; -webkit-transform: rotate(-15deg); -moz-transform: rotate(-15deg);}

#s2:target ~ #wrap { top:-1080px; }
#s3:target ~ #wrap #caillou {left: -260px ;top:0px;}
#s3:target ~ #wrap #arbre2 {left: -260px ;top:0px; -webkit-transform: rotate(-15deg); -moz-transform: rotate(-15deg);}

#s3:target ~ #wrap { top:-2160px; }
#s3:target ~ #wrap #caillou {left: -260px ;top:-150px;}
#s3:target ~ #wrap #arbre2 {left: -260px ;top:0px; -webkit-transform: rotate(-15deg); -moz-transform: rotate(-15deg);}

#s4:target ~ #wrap { top:-3240px; }
#s4:target ~ #wrap #caillou {left: 600px ;top:5Opx;}
#s4:target ~ #wrap #arbre2 {left: 700px ;top:200px; -webkit-transform: rotate(15deg); -moz-transform: rotate(15deg);}


